<script>
  var __setCssStartTime__ = Date.now();
  if (typeof __insertRootCompCss__ === 'function') __insertRootCompCss__('components/updateImage/updateImage');
  else __wxAppCode__['components/updateImage/updateImage.wxss']();;
  var __setCssEndTime__ = Date.now();
  (function() {
      var gf = $gwx('./components/updateImage/updateImage.wxml');
      if (window.__wxAppCodeReadyCallback__) window.__wxAppCodeReadyCallback__(gf);
      else document.dispatchEvent(new CustomEvent('generateFuncReady', {
          detail: {
              generateFunc: gf
          }
      }));
  })();
</script>